In [4]:
import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
import csv
import pandas as pd
import pandas_ta as ta ## Technical Analysis Indicators
import yfinance as yf
data = yf.download(tickers = '^RUI', start = '2012-03-11',end = '2022-07-10')
data.head(10)

[*********************100%%**********************]  1 of 1 completed

                  Open        High         Low       Close   Adj Close  Volume
Date
2012-03-12  759.429993  760.619995  756.840027  759.130005  759.130005       0
2012-03-13  761.450012  773.030029  761.450012  772.979980  772.979980       0
2012-03-14  773.190002  774.679993  769.280029  771.630005  771.630005       0
2012-03-15  772.380005  776.469971  770.739990  776.419983  776.419983       0
2012-03-16  776.559998  778.099976  775.640015  777.130005  777.130005       0
2012-03-19  777.119995  782.549988  776.070007  780.090027  780.090027       0
2012-03-20  778.030029  778.299988  773.119995  777.369995  777.369995       0
2012-03-21  777.559998  778.650024  774.760010  776.150024  776.150024       0
2012-03-22  773.640015  773.640015  768.000000  770.270020  770.270020       0
2012-03-23  770.650024  774.010010  766.869995  772.929993  772.929993       0

In [5]:
def plot_series(x, y, format="-", start=0, end=None, 
                title=None, xlabel=None, ylabel=None, legend=None ):
    """
    Visualizes time series data

    Args:
      x (array of int) - contains values for the x-axis
      y (array of int or tuple of arrays) - contains the values for the y-axis
      format (string) - line style when plotting the graph
      start (int) - first time step to plot
      end (int) - last time step to plot
      title (string) - title of the plot
      xlabel (string) - label for the x-axis
      ylabel (string) - label for the y-axis
      legend (list of strings) - legend for the plot
    """

    # Setup dimensions of the graph figure
    plt.figure(figsize=(10, 6))
    
    # Check if there are more than two series to plot
    if type(y) is tuple:

      # Loop over the y elements
      for y_curr in y:

        # Plot the x and current y values
        plt.plot(x[start:end], y_curr[start:end], format)

    else:
      # Plot the x and y values
      plt.plot(x[start:end], y[start:end], format)

    # Label the x-axis
    plt.xlabel(xlabel)

    # Label the y-axis
    plt.ylabel(ylabel)

    # Set the legend
    if legend:
      plt.legend(legend)

    # Set the title
    plt.title(title)

    # Overlay a grid on the graph
    plt.grid(True)

    # Draw the graph on screen
    plt.show()

In [6]:
# Adding indicators
data['RSI']=ta.rsi(data.Close, length=15) ## Relative Strength Index
data['EMAF']=ta.ema(data.Close, length=20) ## Exponential Moving Average Fast
data['EMAM']=ta.ema(data.Close, length=100) ## Exponential Moving Average Medium
data['EMAS']=ta.ema(data.Close, length=150) ## Exponential Moving Average Slow

data['Target'] = data['Adj Close']-data.Open ## Target is the difference between the opening price and the future closing price
data['Target'] = data['Target'].shift(-1) ## Shift the target by one day

data['TargetClass'] = [1 if data.Target[i]>0 else 0 for i in range(len(data))] ## TargetClass is 1 if the price goes up and 0 if it goes down

data['TargetNextClose'] = data['Adj Close'].shift(-1) ## TargetNextClose is the future closing price

data.dropna(inplace=True) ## Drop the NaN values
data.reset_index(inplace = True) ## Reset the index
data.drop(['Volume', 'Close', 'Date'], axis=1, inplace=True) ## Drop the columns that are not needed

In [7]:
data_set = data.iloc[:, 0:11]#.values
pd.set_option('display.max_columns', None)

data_set.head(20)
#print(data_set.shape)
#print(data.shape)
#print(type(data_set))

,Open,High,Low,Adj Close,RSI,EMAF,EMAM,EMAS,Target,TargetClass,TargetNextClose
0,791.440002,795.679993,789.760010,789.760010,46.877256,795.406526,775.179523,762.677734,-2.690002,0,787.179993
1,789.869995,792.669983,785.640015,787.179993,44.575540,794.623046,775.417156,763.002267,6.260010,1,793.440002
2,787.179993,794.020020,786.260010,793.440002,50.849388,794.510376,775.774044,763.405416,7.019958,1,801.599976
3,794.580017,801.859985,794.580017,801.599976,57.558969,795.185576,776.285448,763.911304,4.369995,1,805.039978
4,800.669983,805.770020,800.669983,805.039978,60.023875,796.124090,776.854845,764.456055,-0.809998,0,803.330017
5,804.140015,806.770020,800.780029,803.330017,58.222935,796.810369,777.379106,764.970942,-12.209961,0,790.340027
6,802.549988,802.549988,788.549988,790.340027,46.795154,796.194146,777.635758,765.306956,0.830017,1,790.429993
7,789.599976,791.450012,784.169983,790.429993,46.872532,795.645179,777.889109,765.639712,-8.400024,0,779.619995
8,788.020020,788.020020,775.929993,779.619995,39.480532,794.118971,777.923384,765.824881,-4.059998,0,777.270020
9,781.330017,783.530029,776.349976,777.270020,38.081714,792.514309,777.910446,765.976472,-0.340027,0,779.429993
10,779.770020,783.950012,775.109985,779.429993,40.169328,791.268183,777.940536,766.154664,-0.700012,0,778.669983
11,779.369995,781.419983,773.960022,778.669983,39.665161,790.068355,777.954981,766.320430,0.019958,1,779.349976
12,779.330017,782.400024,775.820007,779.349976,40.382463,789.047557,777.982604,766.493007,7.890015,1,788.700012
13,780.809998,788.909973,780.400024,788.700012,49.268081,789.014457,778.194830,766.787140,-9.659973,0,781.150024
14,790.809998,792.239990,780.799988,781.150024,43.640756,788.265464,778.253349,766.977376,-2.289978,0,782.940002
15,785.229980,785.229980,777.969971,782.940002,45.229834,787.758277,778.346154,767.188802,5.350037,1,789.090027
16,783.739990,791.549988,783.739990,789.090027,50.380084,787.885110,778.558904,767.478884,-14.550049,0,770.789978
17,785.340027,785.340027,767.280029,770.789978,38.760053,786.257002,778.405064,767.522740,-9.880005,0,761.390015
18,771.270020,774.270020,761.390015,761.390015,34.394185,783.888718,778.068132,767.441512,1.250000,1,762.609985
19,761.359985,768.880005,758.909973,762.609985,35.405917,781.862172,777.762030,767.377518,-1.540039,0,762.669983

In [10]:
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler(feature_range=(0,1))
data_set_scaled = sc.fit_transform(data_set)
print(data_set_scaled)

ModuleNotFoundError: No module named 'sklearn'